<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <h1 class="text-capitalize mb-5 text-lg">About</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section blog-wrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-12 mb-5">
            <div class="single-blog-item">
              <img src="images/blog/blog-1.jpg" alt="" class="img-fluid" />
              <div class="blog-item-content">
                <h2 class="mb-4 text-md">
                  <a>About the need for bicycle measurements</a>
                </h2>

                <p class="lead mb-4 text-justify">
                  Professional road riders competing at the world tour pay great
                  attention to detail to their equipment choice because a
                  rider’s position on the bike has a major contribution towards
                  the athlete’s performance by making the rider more aerodynamic
                  and comfortable. Riders would optimize their riding position
                  -reducing the aerodynamic drag- in a wind tunnel to suit the
                  changing frame geometries from year to year and with different
                  manufacturers. There are many unique benefits of using a
                  cycling wind tunnel for the ability to accurately simulate
                  real world cycling scenarios and measure cycling drag can help
                  the rider adjust their position for both aerodynamic
                  performance and comfort.
                </p>

                <p class="lead mb-4 text-justify">
                  Depending on the physical ability of different riders, they
                  might not be able to perform at their best in a very
                  aerodynamic position. Bike fitting is the science of reaching
                  that balance between comfort and aerodynamics. From race to
                  race, bikes would get disassembled to save space in transport.
                  Further, when riders choose to change components -saddles,
                  handlebars- for different courses, team mechanics has to make
                  those changes. This will be important for professional road
                  riders and take value for the biggest sport consumer markets.
                  If they easily and accurately measure the critical key
                  measurements using a less complicated tool, it will be
                  beneficial to professional riders.
                </p>

                <blockquote class="quote text-justify">
                  In the experience of professional riders, small effects such
                  as pedal type and position, seat treatment, and misalignments
                  can all affect drag measurements of a bicycle .This is
                  important when comparing the relative performance of different
                  bicycles. Some measurements were arranged according to their
                  riders’.
                </blockquote>

                <p class="lead mb-4 text-justify">
                  The Riders’ position on a bicycle is aerodynamically
                  optimized. Bike aerodynamics is considered to be one of the
                  most complex applications in aerodynamics not only because of
                  the bluff body shape of the rider, which generates the
                  majority of the drag but also due to the transient cycling
                  movement. Therefore when a rider’s position is optimized the
                  following key measurements are important. In this application
                  use the below mentioned key measurements.
                </p>

                <h6>Key measurements</h6>
                <ul style="color: cornflowerblue">
                  <li>
                    Saddle height: Centre of the bottom bracket to top of the
                    saddle
                  </li>
                  <li>Reach: tip of the saddle to center of the handlebars</li>
                </ul>

                <p class="text-justify">
                  When considering the key measurements, it is important to
                  reason about key measurements. The saddle height is measured
                  along the seat tube from the top of the saddle to the middle
                  of the bottom bracket spindle. Saddle height is important for
                  both power generation and accident prevention. And another
                  main measurement is reach. That is the distance between the
                  tip of the saddle and the middle of the handlebar. The reach,
                  like the handlebar height, is influenced by flexibility and
                  comfort. The higher the aerodynamics, the more spread out.
                  However, the trade-off is that the hip angle is also near,
                  which inhibits power generation.
                </p>
                <p class="text-justify">
                  Finally, the main goal of this was to use the phone camera to
                  measure the key measurements. Existing tools give the most
                  accurate results with more specific features. But those were
                  complex mechanisms with weighted tools. Those are difficult to
                  use for day-to-day needs. Therefore, to solve these problems
                  would be to use a phone camera then use image processing
                  techniques and machine learning with computer vision
                  techniques to calibrate the key measurements.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
          <div class="sidebar-widget tags mb-3">
            <h5 class="mb-4">Key Points</h5>
            <a>Saddle height</a>
            <a>Reach</a>
            <a>Image processing</a>
            <a>Machine learning </a>
            <a>Computer vision</a>
            <a>OpenCV</a>
            <a>Faster RCNN</a>
            <a>Semantic segmentation</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
